table {
    font-family:Arial, Helvetica, sans-serif;
}


th{
    border: 3px sandybrown solid;
    padding: 1rem;
    border-radius: 5px;
}

td {
    padding: .5rem;
    border: tan 1px solid;
    text-transform: capitalize;
}

table {
    color:steelblue;
}